<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46646287096-9k48rglicvio5mib5iffvr4s1ph5ll3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46646287096-9k48rglicvio5mib5iffvr4s1ph5ll3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBsW0pHFx8MskNqnqbROCZKxoSSYvl01T8</string>
	<key>GCM_SENDER_ID</key>
	<string>46646287096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.amst.Hoba</string>
	<key>PROJECT_ID</key>
	<string>hoba-f8108</string>
	<key>STORAGE_BUCKET</key>
	<string>hoba-f8108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46646287096:ios:ffc343880d88b3c2</string>
	<key>DATABASE_URL</key>
	<string>https://hoba-f8108.firebaseio.com</string>
</dict>
</plist>